<div id="add-point-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close discard-point" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add New Point</h3>
  </div>
  <div class="modal-body">
    <form>
      <label for="new-point-name">Point Name:</label>
      <input type="text" id="new-point-name" placeholder="The Eiffel Tower" />
      <label for="new-point-type">Category:</label>
      <select id="new-point-type">
        <% Poi.types.each do |type| %>
        <option value="<%= type %>"><%= type %></option>
        <% end %>
      </select>
      <label for="new-point-extras">Extras:</label>
      <input type="text" id="new-point-extras" />

      <label for="new-point-description">Short Description:</label>
      <textarea id="new-point-description"></textarea>
      <div id="additional-info">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn discard-point">Close</a>
    <a href="#" data-dismiss="modal" id="save-point" class="btn btn-primary">Save changes</a>
  </div>
</div>
