<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBecQFBm2kABATZyBg_qg-E7DgurxYhxE0&sensor=false"></script>
<script type="text/javascript" src="js/map-helpers.js"></script>

<script type="text/javascript">
  _m         = google.maps;
  markers    = {};
  infoWindow = new _m.InfoWindow();

  function loadMap() {
    var mapOptions = {
      center: latLng(42.695, 23.347),
      zoom: 12
    };

    map = new _m.Map(document.getElementById("map-canvas"), mapOptions);

    _m.event.addListener(map, 'click', function(event) {
        var marker = placeMarker(map, event.latLng, "New Point", true);
    });

    // TODO: Call backend services
    $.getJSON("/mock/points.json", function(json) {
        loadMarkers(json.markers);
    }).fail(function() {
      console.log('Failed Loading JSON!');
    });

    function loadMarkers(jsonMarkers) {
      var types = $.map(jsonMarkers, function(marker, index) { return marker.type; });
      types     = $.unique(types);

      $.each(types, function(index, type) { markers[type] = [] });

      $.each(jsonMarkers, function(index, element) {
        var position = latLng(element.lat, element.lng);
        var marker   = placeMarker(map, position, element.name, true);
        markers[element.type].push(marker);

        _m.event.addListener(marker, 'click', function() {
          infoWindow.close();
          infoWindow.setContent(element.description)
          infoWindow.open(map, marker);
        });

        _m.event.addListener(marker, 'dragend', function() {
          // TODO: call backend services
          console.log('marker position changed to:');
          console.log(marker.getPosition());
        })
      });
    }
  }

  _m.event.addDomListener(window, 'load', loadMap);

  $(function() {
    var $window = $(window);
    var $canvas = $("#map-canvas");

    function resizeCanvas() {
      $canvas.height($(window).height() - 160);
    }

    resizeCanvas();

    $window.resize(function() {
      resizeCanvas();
    });

    $("#point-types input[type='checkbox']").click(function() {
      var $this   = $(this);
      var checked = $this.is(':checked');
      var type    = this.value;

      if (markers[type] !== undefined) {
        $.each(markers[type], function(index, marker) {
          marker.setVisible(checked);
        });

        infoWindow.close();
      }
    });
  });
</script>

<div id="map-canvas"></div>
<div id="point-types">
  <h3>Point Types</h3>
  <ul>
    <li>
      <label>
        <input type="checkbox" value="pharmacy" checked="checked" /> Pharmacies
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" value="restaurant" checked="checked" /> Restaurants
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" value ="cinema" checked="checked" /> Cinemas
      </label>
    </li>
  </ul>
</div>
