<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBecQFBm2kABATZyBg_qg-E7DgurxYhxE0&sensor=false"></script>
<script type="text/javascript" src="js/map-helpers.js"></script>
<script type="text/javascript" src="js/map-homecontrol.js"></script>
<script type="text/javascript" src="js/map.js"></script>

<div id="map-canvas"></div>
<div id="sidebar">
  <h3>Categories</h3>
  <ul id="default-categories">
    <li>
      <label>
        <input type="checkbox" value="pharmacy" checked="checked" /> Pharmacies
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" value="restaurant" checked="checked" /> Restaurants
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" value ="cinema" checked="checked" /> Cinemas
      </label>
    </li>
  </ul>
  <% if logged? %>
    <h3>Your Categories</h3>
    <ul id="user-categories">
      <li>
        <label>
          <input type="checkbox" value="billiard" checked="checked" /> Billiard Clubs
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" value="snooker" checked="checked" /> Snooker Clubs
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" value="darts" checked="checked" /> Darts
        </label>
      </li>
    </ul>
  <% end %>
</div>
<% if logged? %>
  <%= partial(:'places/add_point_modal') %>
<% end %>

