<!DOCTYPE html>
<html>
<head>
  <title>Placify :: Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
  <link href="css/placify.css" rel="stylesheet" media="screen" />
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Placify</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/places/">Places</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav pull-right">
      <% if logged? %>
        <li><a href="/logout">Logout</a></lI>
      <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <% %w[error success warning info].each do |key| %>
      <% if flash[key] %>
        <div class="alert alert-<%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
   <%= yield %>
  </div>
  <div id="footer">
    <div class="container-fluid">
      <p class="muted">Copyright &copy; <a href="#">Placify</a>. Some rights reserved. Made by Team FML</p>
    </div>
  </div>
</body>
</html>
