<h1>About Placify</h1>
<h4>What is Placify?</h4>
<p>
  Placify is an open-source platform for sharing your favorite locations around the world.
</p>
<h4>How was Placify developed?</h4>
<p>
  Placify was developed as a project for a course in Sofia University
</p>
